# Repo Bridge Bitbucket configuration
# Use this file for Bitbucket repositories only.
 
REPO_PROVIDER=bitbucket
REPO_URL=https://git.cpr.ca/scm/taf/worktop_sandbox.git
LOCAL_REPO_PATH=./tmp/worktop_sandbox
 
TARGET_BRANCH=Worktop_Sandbox
BASE_BRANCH=Worktop_Sandbox
REMOTE=origin
BRANCH_TO_LIST=Worktop_Sandbox
 
TARGET_DIR=integration-tests
COMMIT_MESSAGE=Add dummy file from repo-bridge test script
 
AUTH_TYPE=Basic
BASE_URL=https://git.cpr.ca
REPOSITORY=taf/worktop_sandbox
 
BITBUCKET_APP_PASSWORD=
BITBUCKET_TOKEN=
BITBUCKET_APP_PASSWORD=
BITBUCKET_USERNAME=bhu0018
GIT_USERNAME=
 
GIT_AUTHOR_NAME=Ravi Bhushan Konduru
GIT_AUTHOR_EMAIL=Ravi_BhushanKonduru@cpr.ca